/*start header*/
header .header-top{
    border-bottom: 1px solid #DDD;
	padding-top: 2%;
	padding-bottom: 2%
	
}
header .header-top .logo{
    /*float: left;*/
    font-size: 25px;
    font-weight: bolder;
}
header .header-top .logo a{
    color: #000;
    font-family: 'Chela One', cursive;
    font-family: 'Roboto Slab', serif;
}
header .header-top .logo a span{
    font-size: 20px;
    color: #e60000
}

header .header-top .search input[type = "search"]{
    border: 1px solid #DDD;
    font-size: 14px;
    padding: 5px 20px;
	border-right: 0;
	color: #D1D1D1;
}
header .header-top .search button{
    cursor: pointer;
	border: 1px solid #DDD;
	background: 0;
	padding: 3px 10px 4px;
	border-left: 0;
	margin-left: -10px;
	color: #D1D1D1
}
header .middle-header .nav{
	padding-top: 1%
}
header .middle-header ul li{
	border-right: 1px solid #DDD
}
header .middle-header ul li a {
	color: #000;
	font-weight: bold
}
header .middle-header ul li a:hover,
header .middle-header ul li a:focus{
	color: #e60000
}
header .header-bottom {
	padding-top: 3%
}
header .header-bottom .row .col img {
	width: 350px;
	height: 150px
}
header .header-bottom .row .big img{
	width: 730px;
	height: 310px
}
header .header-bottom .row{
	margin-bottom: 1%
}
.rectangle{
	height: 150px;
	background-color: chartreuse;
	font-weight: bolder;
	font-size: 2em;
	padding-top: 50px;
	margin-top: 2%
}
.rectangle-2{
	background-color: red;
	padding: 50px;
	font-weight: bolder;
	font-size: 2em
}
/*end header*/

/*start portfolio*/
.portfolio ul li{
	display: inline-block;
	
}
.portfolio img{
	width: 100%
}
.portfolio ul li a {
	color: #000;
	font-weight: bold
}
.portfolio ul li:hover,
.portfolio ul li:focus{
	color: #e60000;
	cursor: pointer;
}
/*end portfolio*/

/*start footer*/
footer .s-links ul li{
	display: inline-block;
	color: #fff;
	padding: 5px;
	border-radius: 5px
}
footer .s-links ul li:nth-child(1){
	background-color: aqua;
}
footer .s-links ul li:nth-child(2){
	background-color: orange;
}
footer .s-links ul li:nth-child(3){
	background-color: blue;
	padding: 5px 10px
}
footer .s-links ul li:nth-child(4){
	background-color: red;
	padding: 5px 7px
}
/*end footer*/






/**************************Media Query************************/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 


}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	

}
